<html lang="en">
<head>
    <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>
</head>
<body class="flex justify-center content-center bg-green-300  overflow-hidden">

<form method="post" class="flex justify-center content-center flex-col m-8 w-1/5 h-dvh">
    <h1 class="text-3xl font-bold">Form</h1>
    <input type="text" placeholder="Name" class="border-2 border-black rounded-lg p-2 m-2" id="name" name="name">
    <input type="email" placeholder="Email" class="border-2 border-black rounded-lg p-2 m-2" id="email" name="email">
    <input type="number" placeholder="Phone no." class="border-2 border-black rounded-lg p-2 m-2" id="no" name="number">
    <button type="submit" class="bg-blue-500 text-white p-2 rounded-lg m-2">Submit</button>
</form>
</body>
</html>