<html lang="en">
<head>
    <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>
</head>
<body class="flex justify-center content-center bg-green-300  overflow-hidden">

<form method="post" action="/login" class="flex justify-center content-center flex-col m-8 w-1/5 h-dvh">
    <button type="submit" class="bg-blue-500 text-white p-2 rounded-lg m-2">login</button>
</form>
</body>
</html>